<ion-view view-title="Ajustes" cache-view="false">
<ion-content>

<div class="list" style="margin-bottom: 0px;">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-image"></i>
    Cambiar imagen
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-ios-barcode"></i>
    Cambiar contraseña
   
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person"></i>
    Cambiar datos personales
  </a>

</div>

<div class ="item item-divider">
  Noticias
</div>

<div class="list" style="margin-bottom: 0px;">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-alert"></i>
    Agregar noticias
  </a>

  <a class="item item-icon-left " href="#">
    <i class="icon ion-compose"></i>
    Mis noticias

  </a>

</div>

<div class ="item item-divider">
  Acerca de
</div>


<div class="list" style="margin-bottom: 0px;">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-information"></i>
    Acerca de
  </a>

</div>

<div class ="item item-divider">
  Salir
</div>

<div class="list" style="margin-bottom: 0px;">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-close-outline"></i>
    Salir
  </a>

</div>

</ion-content>
</ion-view>