<ion-view view-title="Denuncias" cache-view="false">
<ion-content>

   <div class="list list-inset">

   <label class="item item-input">
    <input type="text" name="" id="" placeholder="Ingrese su nombre real">
  </label>
<label class="item item-input">
    <input type="number" name="" id="" placeholder="Ingrese un numero de identificacion valido">
  </label>

  <label class="item item-input">
   <div class="input-label" style="color:#bbb;">
      <i class="ion-ios-person-outline light icon-label"></i> Tipo de denuncia
    </div>
    <select>
      
      <option value="saab" style="color:#000;border:0;width:100%">Prueba</option>
      <option value="mercedes" style="color:#000;border:0;width:100%">Prueba</option>
      <option value="audi" style="color:#000;border:0;width:100%">Prueba</option>
    </select> 
  </label>


   <label class="item item-input">
   <div class="input-label" style="color:#bbb;">
      <i class="ion-ios-person-outline light icon-label"></i> Denuncia Dirijido a
    </div>
    <select>
      
      <option value="saab" style="color:#000;border:0;width:100%">Prueba</option>
      <option value="mercedes" style="color:#000;border:0;width:100%">Prueba</option>
      <option value="audi" style="color:#000;border:0;width:100%">Prueba</option>
    </select> 
  </label>
  <label class="item item-input">
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </label>


  <button class="button button-block button-stable">Enviar</button>
</div>


</ion-content>
</ion-view>