<ion-view view-title="Noticias" cache-view="false">
<ion-content>

<h1> Categorias </h1>

<div class="list">

    <a class="item item-thumbnail-left" href="#/tab/cat_noti">
      <img src="img/vial.jpg">
      <h2>Vial</h2>
      <p>Noticias viales</p>
    </a>

    <a class="item item-thumbnail-left" href="#/tab/cat_noti">
      <img src="img/deportes.jpg">
      <h2>Deportes</h2>
      <p>Noticias de deportes</p>
    </a>

    <a class="item item-thumbnail-left" href="#/tab/cat_noti">
      <img src="img/Emergencia-Alertas.png">
      <h2>Emergencia</h2>
      <p>Noticias de emegencia</p>
    </a>

    <a class="item item-thumbnail-left" href="#/tab/cat_noti">
      <img src="img/clima.jpg">
      <h2>Clima</h2>
      <p>Noticias del clima</p>
    </a>

</div>


</ion-content>
</ion-view>