<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Numeros" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/numeros">
    <ion-nav-view name="tab-listado"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ubicaciones" icon-off="ion-compass" icon-on="ion-compass" href="#/tab/ubicacion">
    <ion-nav-view name="tab-ubicacion"></ion-nav-view>
  </ion-tab>

  <ion-tab title="PQR" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/pqr">
    <ion-nav-view name="tab-pqr"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Denuncias" icon-off="ion-close-round" icon-on="ion-close-round" href="#/tab/denuncias">
    <ion-nav-view name="tab-denuncias"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Noticias" icon-off="ion-alert" icon-on="ion-alert" href="#/tab/noticias">
    <ion-nav-view name="tab-noticias"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Ajustes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/configuracion">
    <ion-nav-view name="tab-configuracion"></ion-nav-view>
  </ion-tab>


</ion-tabs>
